@use "formatting";

// theme colors
$lightcolor: ivory;
$darkcolor: rgb(53, 7, 7);

// setting theme
@mixin theme($dark: true) {
  @if ($dark) {
    color: $lightcolor;
    background-color: $darkcolor;
    box-shadow: 2px 2px 2px $lightcolor;
  } @else {
    color: $darkcolor;
    background-color: $lightcolor;
    box-shadow: 2px 2px 2px $darkcolor;
  }
  transition: all 0.5s ease;
}
body {
  display: grid;
  grid-template-rows: 100px 2fr 6fr 50px;
}

.header {
  align-items: center;
  @include theme;
  display: flex;
  justify-content: space-between;
  flex: none;
  background-color: $darkcolor;
  padding: 15px;

  button {
    height: 50px;
    width: 20%;
    @include theme(false);
    border: 2px solid $lightcolor;
    font-size: 90%;

    &:hover {
      @include theme;
      box-shadow: none;
      cursor: pointer;
    }
  }
}

.hero{
  min-height: minmax(min-content, 600px);
  h3 {
    margin: 15px;
    align-self: center;
  }
  @include theme(false);
  display: flex;
  flex-direction: column;
  .searchsect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    input {
      background-color: whitesmoke;
      color: $darkcolor;
      width: 70%;
      height: 50px;
      padding: 10px;
  
    }
    
    button {
      height: 50px;
      width: 20%;
      @include theme;
      border: 2px solid $darkcolor;
  
      &:hover {
        @include theme(false);
        cursor: pointer;
      }
    }
  }
}

.definitions {
  display: grid;
  place-items: center;
  gap: 5px;
  padding: 15px;
  .def_sect {
    // overflow-x: scroll;
    border: 2px solid $darkcolor;
    display: grid;
    grid-template-columns: 1fr 30fr 1fr;
    width: 90%;
    .definition {
      height: minmax(min-content, 600px);
      width: 90%;
      overflow: scroll;
      align-self: center;
      justify-self: center;
    }
    .delete,
    .flag {
      
      margin: 15px;
      width: 20px;
      height: 20px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

#question {
  font-size: 20px;
}

.footer {
  @include theme;
  font-size: 25px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}