@use "formatting";

// theme colors
$lightcolor: ivory;
$darkcolor: rgb(53, 7, 7);

// setting theme
@mixin theme($dark: true) {
  @if ($dark) {
    color: $lightcolor;
    background-color: $darkcolor;
    box-shadow: 2px 2px 2px $lightcolor;
  } @else {
    color: $darkcolor;
    background-color: $lightcolor;
    box-shadow: 2px 2px 2px $darkcolor;
  }
  transition: all 0.5s ease;
}
body {
  display: grid;
  grid-template-rows: 100px 2fr 6fr 50px;
}

.header {
  align-items: center;
  @include theme;
  display: flex;
  justify-content: space-between;
  flex: none;
  background-color: $darkcolor;
  padding: 15px;

  button {
    height: 50px;
    width: 20%;
    @include theme(false);
    border: 2px solid $lightcolor;
    font-size: 90%;

    &:hover {
      @include theme;
      box-shadow: none;
      cursor: pointer;
    }
  }
}

.searchsect {
  @include theme(false);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  input {
    background-color: whitesmoke;
    color: $darkcolor;
    width: 70%;
    height: 50px;
    padding: 10px;

  }
  
  button {
    height: 50px;
    width: 20%;
    @include theme;
    border: 2px solid $darkcolor;

    &:hover {
      @include theme(false);
      cursor: pointer;
    }
  }
}

.definitions {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  gap: 5px;
  .definition {
    width: 90%;
    border: 2px solid $darkcolor;
  }
}

.footer {
  @include theme;
  font-size: 25px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}